.pagination-container{
    max-width: 1264px;

}

.pagination_count{
    height: 24px;
    width: 24px;
    font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */


/* White color */

color: #2D2F55;
}