.product-page-text-0-875 {
  color: #2d2f55;
  font-size: 0.875rem;
  font-family: Lato;
  font-weight: 700;
  line-height: 1.625rem;
}

.product_page_product_name {
  color: #0b0417;
  font-size: 1.5rem;
  font-family: Nunito;
  font-weight: 600;
  line-height: 2rem;
}

.product_page-description {
  color: #68686a;
  font-size: 1rem;
  font-family: Lato;
  line-height: 1.875rem;
}
.product_page_reviews {
  color: #2d2f55;
  font-size: 1rem;
  font-family: Lato;
  font-weight: 600;
  line-height: 1.6875rem;
}

.product_page_price {
  color: var(--primary-color, #f84072);
  font-size: 2rem;
  font-family: Nunito;
  font-weight: 800;
  line-height: 2.25rem;
}

.product_page_qty {
  color: #2d2f55;
  font-size: 1.125rem;
  font-family: Lato;
  line-height: 1.625rem;
}

.similar_product {
  color: #2d2f55;
  text-align: center;
  font-size: 2rem;
  font-family: Nunito;
  font-weight: 800;
  line-height: 2rem;
}
