/* .button_padding {
  padding: 20px !important;
} */

.button_text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  /* line-height: 30px; */
  /* identical to box height, or 188% */
  /* height: 40px; */

  color: #ffffff;
}

.hover:hover{
  background: #F84072 !important;
}

.button_primary_bg{
}
.button_secondary_bg{
    background: #2D2F55 !important; 
}
