.ordered_product-name {
  color: #2d2f55;
  font-size: 1.125rem;
  font-family: Nunito;
  font-weight: 700;
  line-height: 1.875rem;
}

.ordered_product-color {
  color: #2d2f55;
  font-size: 1rem;
  font-family: Lato;
  line-height: 1.625rem;
}
.ordered-quantity {
  color: #2d2f55;
  font-size: 1.125rem;
  font-family: Nunito;
  font-weight: 700;
  line-height: 1.875rem;
}

.order-status {
  color: #f84072;
  font-size: 1rem;
  font-family: Lato;
  line-height: 1.625rem;
}
