.Quantity_counter_input {
  width: 90px;
  border-radius: 8px;
  border: 2px solid #ececf2;
  background: #fff;
  color:  #2d2f55;
  font-size: 1.25rem;
  font-family: Nunito;
  font-weight: 800;
  line-height: 1.875rem;
}
/* 
.Quantity_counter_input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.Quantity_counter_input[type="number"]::-webkit-inner-spin-button,
.Quantity_counter_input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
} */
