.address-type {
  color: var(--title-text, #2d2f55);
  font-size: 1.125rem;
  font-family: Nunito;
  font-weight: 700;
  line-height: 1.875rem;
}

.full-address {
  color: var(--body-text, #68686a);
  font-size: 1rem;
  font-family: Lato;
  line-height: 1.625rem;
}
