.heading_signup {
    font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */

  /* Title text */
    text-align: start !important;
  color: #2d2f55 !important;
}

.label_style{
    font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

/* Body text */

color: #68686A;
}

.terms_and_condition_para{
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 180%;
/* or 29px */



/* Body text */

color: #68686A;

margin-left: 1rem;
/* Inside auto layout */


}


.select_user_button{

font-family: 'Maven Pro', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
margin-left: 6px;

/* Title text */

color: #2D2F55;
}

.partition_line{
  transform: rotate(90deg)
}

.signup-btn-text{
  font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */

text-align: center;
letter-spacing: 0.4px;

color: #FFFFFF;
}

.button-submit:hover{

  background: var(--primary-color-x) !important;
}