.blog_item_container {
    height: 562px;
    width: 388px;
  background: #ffffff;
  /* Stroke Line */

  border: 1px solid #ececf2;
  border-radius: 8px;
}
.date{
    font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Body text */

color: #68686A
}

.blog_heading{
    font-family: 'Nunito';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 25px;

/* Title text */

color: #2D2F55
}


.blog_short_description{
    font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* or 150% */


/* Body text */

color: #68686A;
}

.read_post{
    font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */


/* Primary-color */

color: #F84072
}