.hero__container{
    background-image: url('../../../public/hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
   
}
.hero__wrapper{
    max-width: 1264px;
}

.hero__heading{
    font-family: 'Nunito';
font-style: normal;
font-weight: 800;
font-size: 58px;
line-height: 68px;
/* or 117% */


/* Primary-color */

color: #F84072;
}
.hero__subheading{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
/* identical to box height, or 125% */


color: #1C103B;
}

.hero__button{
    background: #2D2F55 !important;
border-radius: 8px !important;
}

.hero__button:hover{
    background-color:#282a46 !important;
}

.hero__btn__text{
    font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */


color: #FFFFFF
}