.navbar__container{
    background: #FFFFFF;
    border-bottom: 1px solid #ECF1F6; 
    height: 100px;
   
}
.navbar__wrapper{
    max-width: 1264px;
    margin: auto;
}
.brand{
    font-family: 'Nunito';
font-style: normal;
font-weight: 800;
font-size: 32.0379px;
line-height: 38px;
/* identical to box height, or 117% */
margin: 0;

/* Title text */

color: #2D2F55;
}

.logo_brand_container{
width: 183px;
}
.item{
    font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */


color: #1C103B;
}

a:active{
    color: #1C103B;
    text-decoration: none;
}
a:visited{
    color: #1C103B;
    text-decoration: none;

}
a:hover{
    color: #231646;
    text-decoration: none;

}
a:link{
    color: #1C103B;
    text-decoration: none;


}
.cart_btn_text{
    font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height, or 119% */


color: #1C103B;
}
.login_btn_text{
    font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height, or 119% */


color: #ffffff;
}

