.blogs_filter_container{
    max-width: 1264px;
}


.select_pet{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    
    
    /* Body text */
    
    color: #68686A;
    
}