.servicescart_container{
    width: 290px;
    height: 115px;
border-radius: 7.89383px;
}

.services-cart-bg-1{
    background-color: #F2EADF;
}
.services-cart-bg-2{
    background-color: #E7EDDC;
}
.services-cart-bg-3{
    background-color: #FCF2DD;
}
.services-cart-bg-4{
    background-color: #E1EDF9;
}




.cart_heading{
    font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 134% */


/* Title text */

color: #2D2F55;
}

.cart_subheading{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 132% */
    
    
    /* Body text */
    
    color: #68686A;

}