.banner__wrapper{
    max-width: 1264px;
    background-image: url('../../../../public/AreYouVetBanner.png');
    background-position: center;
    background-size: cover;
    margin: auto;
    height: 431px;
}

.dot1{
    position: relative;
    left: 20.52%;
    top: 36px;
}
.dot2{
    position: relative;
    left: 3.52%;
    top: 70px;
}
.dot3{
    position: relative;
    left: 88.52%;
    top: 21px;
}
.dot4{
    position: relative;
    left: 90.52%;
    top: 155px;
}

.AYV_heading{
    font-family: 'Nunito';
font-style: normal;
font-weight: 800;
font-size: 54px;
line-height: 50px;
/* identical to box height, or 93% */

text-align: center;

color: #FFFFFF;
}
.sub_headings{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* or 139% */

text-align: center;

color: #FFFFFF
}