.footer_container {
  background: #2d2f55;
  height: 434px;
}
.footer_wrapper {
  max-width: 1264px;
}
.footer_heading {
  font-family: 'Nunito','sans-  serif';
  font-style: normal;
  font-weight: 800;
  font-size: 32.0379px;
  line-height: 38px;
  /* identical to box height, or 117% */

  /* White color */

  color: #ffffff;
}

.footer_subheading{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
/* or 144% */


/* White color */

color: #FFFFFF;

opacity: 0.8;
}

.footer_useful_links{
    font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */


/* White color */

color: #FFFFFF
}

.consult{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */


/* White color */

color: #FFFFFF;

}

.footer_call{
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
/* identical to box height, or 144% */


/* White color */

color: #FFFFFF;
}

.bottom_bar{
  max-width: 1264px;
  margin: auto;
  border-top:0.921955px solid #ECECF2; ;

}
.copyright{
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
/* identical to box height, or 144% */

text-align: center;

/* White color */

color: #FFFFFF;
}