.petguide_detail_container {
  max-width: 1264px;
}
.latest_post_feed {
  background: #ffffff;
  /* Stroke Line */

  border: 1px solid #ececf2;
  border-radius: 8px;
}

.latest_post_heading {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height, or 125% */

  /* Title text */

  color: #2d2f55;
}
