.latest_post_container{
    background: #FFFFFF;
/* Stroke Line */

border-top: 1px solid #ECECF2;
border-radius: 8px;
}
.post_heading{
    font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* or 122% */


/* Title text */

color: #2D2F55;
}

.date_post{
    font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Body text */

color: #68686A;
}