.feature__wrapper {
  max-width: 876px;
}

.feature__heading {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 36px;
  /* identical to box height, or 112% */

  text-align: center;

  /* Title text */

  color: #2d2f55;
}

.feature_product_img{
  width: 40px;
  height: 40px;
}

.category__item {
  width: 60px;
  height: 60px;


  background: #f2eadf;
  border: 2px solid #f84072;
  border-radius: 80px;
}

.item__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 136% */

  text-align: center;

  /* Title text */

  color: #2d2f55;
}



@media only screen and (min-width: 768px) {
  .category__item {
    width: 126px;
    height: 126px;
  }

  .feature_product_img{
    width: 88px;
    height: 88px;
  }
}
