@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
:root{
  --primary-color-x:#F84072;
  --secondary-color-x:#2D2F55;
  --warning-color-x:#ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background-primary{
  background-color: var(--primary-color-x) !important;
}

.background-secondary{
  background-color: var(--secondary-color-x) !important;
}


.background-warning{
  background-color: var(--warning-color-x) !important;
}

.color-primary{
  color: var(--primary-color-x) !important;
}

.border-primary-x{
  border: 1px solid #F84072 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:checked {
  border-color: var(--primary-color-x) !important;
  background-color:var(--primary-color-x) !important;
}
.p-2-5{
  padding: 0.75rem !important;
}
.py-2-5{
  padding: 0.75rem !important;
}
.checkbox_height_width{
  height: 22px !important ;
  width: 22px !important ;
}

.btn-text{
  font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */

text-align: center;
letter-spacing: 0.4px;

color: #FFFFFF;
}

.btn-outline-primary{
  border: 1px solid var(--primary-color-x) !important;
}
.btn-outline-primary:hover{
  background: none !important;
}