.breadcrumb_container{
    background: rgba(248, 64, 114, 0.05);
    height: 80px;
}
.breadcrumb_wrapper{
    max-width: 1264px;
    margin: auto;
}
.breadcrumb_item{
    font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
/* identical to box height, or 136% */

text-transform: uppercase;

/* Primary-color */

color: #F84072;
}
.active_dot{
    vertical-align: middle;
    width: 8px;
    height: 8px;
}